<div>
  <table class="table table-dark" id = "data-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses$ | async">
        <td>{{ course.name }}</td>
        <td>{{ course.description }}</td>
        <td>
          <mat-icon (click)="showUpdateForm(course)">update</mat-icon>
          <mat-icon (click)="deleteCourse(course.id)">delete_forever</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-icon (click)="showAddForm()">add_circle</mat-icon>

  <div *ngIf="isUpdateActivated" style="margin-top: 50px; margin-left: 50px;">
    <h4>Update Course</h4>
    <form (ngSubmit)="updateCourse(updateForm)" #updateForm="ngForm">
      <div class="form-group">
        <label for="name">Course Name</label>
        <input type="text"id="name" name="name" class="form-control" required [(ngModel)]="courseToBeUpdated.name" style="width: 400px"/>
      </div>
      <div class="form-group">
        <label for="side">Description</label>
        <input type="text" id="description" name="description" class="form-control" required [(ngModel)]="courseToBeUpdated.description" style="width: 400px"/>
      </div>
      <button [disabled]="updateForm.invalid" class="btn btn-success" type="submit">Update</button>
      <button (click)="cancel()" class="btn btn-danger" type="reset">Cancel</button>
    </form>
  </div>
  <div *ngIf="isAddActivated" style="margin-top: 50px; margin-left: 50px;">
    <h4>Add Course</h4>
    <form (ngSubmit)="AddCourse(createForm)" #createForm="ngForm">
        <div class="form-group">
          <label for="name">Course Name</label>
          <input type="text" id="name" name="name" class="form-control" ngModel required style="width: 400px"/>
        </div>
        <div class="form-group">
          <label for="side">Description</label>
          <input type="text" id="description" name="description" class="form-control" ngModel required style="width: 400px"/>
        </div>
        <button [disabled]="createForm.invalid" class="btn btn-success" type="submit">Add</button>
        <button class="btn btn-danger" type="submit">Cancle</button>
      </form>
  </div>
</div>