<div class="nav-container">
  <nav>
      <ul>
          <li><a routerLink="" routerLinkActive="active">HOME</a></li>
          <li><a routerLink="/portfolio" routerLinkActive="active">PORTFOLIO</a></li>
          <li><a routerLink="/others" routerLinkActive="active">OTHERS</a></li>
          <li><a routerLink="/skills-demo" routerLinkActive="active">DEMO</a></li>
          <li class="source"><a href="https://github.com/raymondlwhuang/HomePage" target="_blank">Source</a></li>
      </ul>
  </nav>
  
</div>
<div class="router-container">
  <router-outlet></router-outlet>
</div>
