<mat-tab-group>
    <mat-tab label="Decorators"> 
        <mat-tab-group>
            <mat-tab label="Build in Decorators"> 
                <div class="group">
                    <div>
                        <mat-form-field>
                            <mat-label>Your selection</mat-label>
                            <mat-select  (selectionChange)="renderNewResult($event)">
                              <mat-option *ngFor="let demo of demos" [value]="demo.name">
                                {{demo.name}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>    
                    </div>
                    <div id="code-snip">
                    </div>
                </div>
                <h3>Show Case</h3>
                <div [ngSwitch]="true">
                    <div *ngSwitchCase="flag == 'Input' || flag =='Output' || flag =='ViewChild'" class="demo-container">
                        this flag is: {{flag}}
                        <div class="flex-horizontal">
                            <app-user-list [parentClick]="parentClick" (onSelect)="onSelect($event)"></app-user-list>
                            <button (click)="startClock(!indicator,userListComponent)">{{buttonMsg}}</button>
                        </div>
                        <app-user  [user]="user"></app-user>
                        <app-user-applications  [user]="user"></app-user-applications>
                    </div>
                    <div *ngSwitchCase="flag == 'ViewChildren'" class="demo-container">
                        <button (click)="changeMessage(true,0)">Child 1</button>
                        <button (click)="changeMessage(true,1)">Child 2</button>
                        <button (click)="changeMessage(true,2)">Child 3</button>
                        <app-show-case [parentClick]="parentClick" [flag]="flag"></app-show-case>
                        <app-show-case [parentClick]="parentClick" [flag]="flag"></app-show-case>
                        <app-show-case [parentClick]="parentClick" [flag]="flag"></app-show-case>
                    </div>
                    <div *ngSwitchDefault>
                            <app-show-case [flag]="flag"></app-show-case>
                    </div>
                </div>
        
            </mat-tab>
            <mat-tab label="Create a Custome Decorators"> 
                comming soon
            </mat-tab>
        </mat-tab-group>        
    </mat-tab>
    <mat-tab label="Change Detction"> 
        comming soon
    </mat-tab>
  </mat-tab-group>