<mat-tab-group>
    <mat-tab label="Decorators"> 
        <mat-tab-group>
            <mat-tab label="Build in Decorators"> 
                <div class="demo-container">
                    <app-user-list (onSelect)="onSelect($event)"></app-user-list>
                    <app-user  [user]="user"></app-user>
                    <app-user-applications  [user]="user"></app-user-applications>
<textarea rows="4">
#selectRef - add reference to element 
@ViewChild('selectRef', {static: false}) selectEleRef : ElementRef; //in version 8 needed to add {static: false}
inside ngAfterViewInit interact with nativeElement
@Output() onSelect: EventEmitter<User>  = new EventEmitter; //output data from child template
@Input()  user: User; //get input in child template
use ngOnChanges to get application base on user selection
</textarea>        
                </div>
        
            </mat-tab>
            <mat-tab label="Create a Custome Decorators"> 
                Content 2
            </mat-tab>
        </mat-tab-group>        
    </mat-tab>
    <mat-tab label="Change Detction"> 
        Content 2
    </mat-tab>
    <mat-tab label="Third">
         Content 3 
    </mat-tab>
  </mat-tab-group>