<mat-tab-group>
    <mat-tab label="Decorators"> 
        <mat-tab-group>
            <mat-tab label="Build in Decorators"> 
                <div class="group">
                    <div>
                        <mat-form-field>
                            <mat-label>Your selection</mat-label>
                            <mat-select  (selectionChange)="renderNewResult($event)">
                              <mat-option *ngFor="let demo of demos" [value]="demo.name">
                                {{demo.name}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>    
                    </div>
                    <div id="code-snip">
                    </div>
                </div>
                <h3>Show Case</h3>
                <div [ngSwitch]="true">
                    <div *ngSwitchCase="flag == 'input' || flag =='output'" class="demo-container">
                        <div class="flex-horizontal">
                            <app-user-list [parentClick]="parentClick" (onSelect)="onSelect($event)"></app-user-list>
                            <button (click)="clickMe()">Click me</button>
                        </div>
                        <app-user  [user]="user"></app-user>
                        <app-user-applications  [user]="user"></app-user-applications>
                    </div>
                    <div *ngSwitchDefault>
                        <h3>Please make your selection for show case</h3>
                    </div>
                </div>
        
            </mat-tab>
            <mat-tab label="Create a Custome Decorators"> 
                Content 2
            </mat-tab>
        </mat-tab-group>        
    </mat-tab>
    <mat-tab label="Change Detction"> 
        Content 2
    </mat-tab>
    <mat-tab label="Third">
         Content 3 
    </mat-tab>
  </mat-tab-group>