.nav-container{
    position: fixed;
    background-color: #3377CC;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    width: 100%;
    top:47px;
    z-index: 1;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}
nav ul li {
    list-style: none;
    font-size: large;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
}
nav ul .submenu {
    display: none;
    position: absolute;
    background-color: rgb(245, 30, 14);
    width: 100%;
    left: 0;
    padding: 0;
}
nav ul .submenu li {
    display: inline;
    padding: 0 5px;
    border: solid 1px yellow;
}

nav li a{
    padding: 5px;
    text-decoration: none;
    color: #fff;
}
nav li a:hover{
    color: rgb(139, 204, 53);
}
.source{
    position: absolute;
    right: 10px;
    background-color: cornflowerblue;
    font-weight: bold;
    border:outset;
}
.source a{
    color: #fff;
}
.router-container {
    margin-top: 130px;
}
@media all and (max-width: 599px) {
    nav ul {
        justify-content: flex-start;
    } 
    nav ul .submenu li {
        display: block;
        margin-right: 0;
    }    
}
